In [16]:
import pandas as pd

# Import all 4 tickers from the files to pandas DataFrames
aep = pd.read_csv("data/AEP.csv")
all = pd.read_csv("data/ALL.csv")
wmt = pd.read_csv("data/WMT.csv")
wrb = pd.read_csv("data/WRB.csv")

tickers = [aep, all, wmt, wrb]

# Make sure that dates are datetimes format
for ticker in tickers:
    ticker["Date"] = pd.to_datetime(ticker["Date"])

        Date       High        Low       Open      Close     Volume  Adj Close
0 2017-11-13  76.300003  74.699997  74.769997  76.129997  2280700.0  64.259972
1 2017-11-14  77.440002  75.779999  75.930000  77.389999  2050500.0  65.323524
2 2017-11-15  77.930000  76.459999  77.570000  76.589996  2187200.0  64.648254
3 2017-11-16  76.790001  76.309998  76.570000  76.760002  1750100.0  64.791740
4 2017-11-17  76.889999  76.099998  76.489998  76.379997  1720900.0  64.471001
        Date        High        Low        Open       Close     Volume  \
0 2017-11-13   99.970001  98.760002   98.900002   99.440002  1851400.0
1 2017-11-14  100.050003  98.510002   98.889999   99.940002  2148300.0
2 2017-11-15  101.120003  99.300003   99.480003  100.379997  2548900.0
3 2017-11-16  100.699997  99.169998  100.510002   99.570000  2138400.0
4 2017-11-17  100.430000  99.050003   99.050003  100.169998  2880000.0

   Adj Close
0  88.976433
1  89.423820
2  89.817535
3  89.092781
4  89.629654
        Date        High        Low       Open      Close      Volume  \
0 2017-11-13   91.980003  90.870003  91.040001  90.989998   8491600.0
1 2017-11-14   91.199997  90.180000  90.699997  91.089996   9834100.0
2 2017-11-15   90.849998  89.650002  90.339996  89.830002   8433400.0
3 2017-11-16   99.680000  94.720001  95.120003  99.620003  38122400.0
4 2017-11-17  100.129997  96.580002  99.239998  97.470001  23575500.0

   Adj Close
0  83.464844
1  83.556557
2  82.400780
3  91.381104
4  89.408928
        Date       High        Low       Open      Close     Volume  Adj Close
0 2017-11-13  30.537779  30.257778  30.408890  30.280001   879075.0  27.182333
1 2017-11-14  30.324444  30.022223  30.284445  30.124443  1148175.0  27.042690
2 2017-11-15  30.488890  29.946667  30.040001  30.266666   811575.0  27.170368
3 2017-11-16  30.342222  29.760000  30.266666  29.813334   980775.0  26.763409
4 2017-11-17  29.942223  29.697779  29.755556  29.795555   953325.0  26.747446

1) Is there a company that has no difference between the Close and Adj Close columns?
What does it mean from the financial point of view for the stock (you can get bonus
partial points)?

<strong>No.</strong> Not commenting on the implications at this point.

In [17]:
have_identical_cols = []

for ticker in tickers:
    if ticker["Close"].equals(ticker["Adj Close"]):
        have_identical_cols.append(ticker)
    
print(len(have_identical_cols))

0

2. What is the highest and lowest price (Adj Close) each company recorded?

In [24]:
data = {"Name":["AEP", "ALL", "WMT", "WRB"], "Highest":[-1,-1,-1,-1], "Lowest":[-1,-1,-1,-1]}
extremes = pd.DataFrame(data)

extremes["Highest"] = pd.Series([aep["Adj Close"].max(), all["Adj Close"].max(), wmt["Adj Close"].max(), wrb["Adj Close"].max()])
extremes["Lowest"] = pd.Series([aep["Adj Close"].min(), all["Adj Close"].min(), wmt["Adj Close"].min(), wrb["Adj Close"].min()])

extremes

  Name     Highest     Lowest
0  AEP  104.201859  54.017570
1  ALL  141.972992  68.755844
2  WMT  159.869995  77.321236
3  WRB   75.290001  26.408318

3. (1pt task) Calculate logarithmic returns from Adj Close. For each company report on
its, min, max, mean, median of the return distribution.

In [37]:
import numpy as np

for ticker in tickers:
    ticker['Log. Return'] = np.log(ticker["Adj Close"]) - np.log(ticker["Adj Close"].shift(1))

data = { "Name":["AEP", "ALL", "WMT", "WRB"], 
        "Min":[aep["Log. Return"].min(),all["Log. Return"].min(),wmt["Log. Return"].min(),wrb["Log. Return"].min()], 
        "Max":[aep["Log. Return"].max(),all["Log. Return"].max(),wmt["Log. Return"].max(),wrb["Log. Return"].max()],
        "Mean":[aep["Log. Return"].mean(),all["Log. Return"].mean(),wmt["Log. Return"].mean(),wrb["Log. Return"].mean()],
        "Median":[aep["Log. Return"].median(),all["Log. Return"].median(),wmt["Log. Return"].median(),wrb["Log. Return"].median()]
        
        }

log_return_stats = pd.DataFrame(data)

log_return_stats

  Name       Min       Max      Mean    Median
0  AEP -0.123103  0.110491  0.000268  0.001234
1  ALL -0.151860  0.101690  0.000314  0.001232
2  WMT -0.120765  0.110723  0.000426  0.000505
3  WRB -0.167621  0.112930  0.000749  0.001284

4. When did each company record the highest gain and highest loss for the day?
(logarithmic loss). Hint: idxmax

In [44]:
all_index = all["Log. Return"].idxmax()

all.loc[all_index, "Date"]

highest_gains = []
highest_losses = []

for ticker in tickers:
    highest_gain_date = ticker.loc[ticker["Log. Return"].idxmax()]["Date"]
    highest_loss_date = ticker.loc[ticker["Log. Return"].idxmin()]["Date"]

    highest_gains.append(highest_gain_date)
    highest_losses.append(highest_loss_date)

log_return_stats["Highest gain"] = highest_gains
log_return_stats["Highest loss"] = highest_losses

log_return_stats

  Name       Min       Max      Mean    Median Highest gain Highest loss
0  AEP -0.123103  0.110491  0.000268  0.001234   2020-03-17   2020-03-20
1  ALL -0.151860  0.101690  0.000314  0.001232   2020-03-13   2020-03-18
2  WMT -0.120765  0.110723  0.000426  0.000505   2020-03-17   2022-05-17
3  WRB -0.167621  0.112930  0.000749  0.001284   2020-03-17   2020-03-16

5. What is the average calendar weekly volume for each company? Hint: check how to
resample pandas DF

In [45]:
all.resample("W-MON")

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'